.byebug_history

/node_modules/
/public/packs
/public/assets

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

.env

# Ignore MacOSX folder cache
/**/.DS_Store

*.icloud